table {
  		border-collapse: collapse;
  		border: 1px solid black;
}
div.ex1 {
	background-color: lightblue;
	width: 200px;
	height: 100px;
	/*margin-left: 14%;*/
	overflow: scroll;
}
	.container {
  		position: relative;
	}
text-block {
	position: relative;
	bottom: 30px;
	right: 20px;
	left: 50;
	background-color: black;
	color: white;
	padding-left: 20px;
	padding-right: 20px;
	width: 60px;
	margin-left: 14%;
}